.boundary {
    stroke: #fff;
}

.bar.selected,
.boundary.selected {
    fill: #54b849;
}

.chartline {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}

.axis {
    font-size: 12px;
    color: #333;
}

.axis path {
    display: none;
}

.axis line {
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis .minor line {
    stroke: #bbb;
    stroke-dasharray: 2, 2;
}

.baraxis {
    font-weight: 700;
}

.legend {
    font-size: 12px;
    color: #333;
}