.boundary {
    stroke: #fff;
}

.bar.selected,
.boundary.selected {
    fill: #ec008b;
}

.chartline {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}

.axis {
    font-size: 12px;
    color: #333;
}

.axis path {
    display: none;
}

.axis line {
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis .minor line {
    stroke: #bbb;
    stroke-dasharray: 2, 2;
}

.baraxis {
    font-weight: 700;
}

.legend {
    font-size: 12px;
    color: #333;
}

.tooltip-num {
    font-size: 26px;
    font-weight: 700;
    opacity: 0;
    text-align: left;
}

.tooltip-label {
    font-size: 18px;
    font-weight: 700;
    opacity: 0;
    text-align: left;
}

.tooltip-name {
    font-size: 14px;
    font-weight: 700;
    color: #666666;
    opacity: 0;
    text-align: left;
}

.tooltip-num.selected,
.tooltip-label.selected,
.tooltip-name.selected {
    opacity: 1;
}