#barchart {
    max-width: 50%;
}

#clustermap {
    max-width: 35%;
}

.boundary {
    stroke: #fff;
    fill: none;
}

.chartline {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}

#linechart {
    width: 100%;
    margin-bottom: 40px;
}

#linechart img {
    max-width: 100%;
    height: auto;
}

.axis {
    font-size: 12px;
}

.axis path {
    display: none;
}

.axis line {
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis .minor line {
    stroke: #999;
    stroke-dasharray: 2, 2;
}