body {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    margin: auto 0;
    width: 100%;
    height: 100%;
}

#map {
    position: absolute !important;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.hexagon {
    opacity: 0.7
}

#layers {
    position: relative !important;
    top: 12px;
    height: auto;
    background: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    border-radius: 5px;
    text-align: center;
    z-index: 100000;

}

#layers a {
    display: inline-block;
    margin: 5px 1px 1px 1px;
    padding: 6px;
    height: 17px;
    width: 30px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
}

#layers a.active,
#layers a#play_button:hover {
    background: #1696d2;
    color: #fff;
    font-weight: 900;
}

#layers a:hover {
    cursor: pointer;
}

#layers a#play_button {
    background: #ccc;
}

.map-tooltip {
    padding: 4px;
    background-color: #fff;
    color: #333;
    opacity: 0.8;
    border: 1px solid #aaa;
    pointer-events: none;
}

@media (max-width: 706px) {
    #layers {
        max-width: 380px;
}