body {
    padding-bottom: 40px;
    padding-top: 70px;
    color: #5a5a5a;
    font-family: 'Lato';
}

.row {
    margin-top: 70px;
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

.navbar-default {
    background-color: #0096d2;
    border-color: #0096d2;
}
/* Flip around the padding for proper display in narrow viewports */

.navbar-wrapper .container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

#navTitle {
    height: 70px;
    display: inline;
    float: left;
    margin-left: 40px;
    color: #FFF;
    padding-bottom: 11px;
    padding-top: 11px;
}

#titleLink {
    text-decoration: none;
    color: #fff;
}

.navDC {
    font-size: 14px;
    line-height: 15px;
    font-weight: 400;
}

.navOCC {
    font-size: 26px;
    line-height: 30px;
    font-weight: 700;
}

.navChap {
    font-weight: 100;
}

.btn-group {
    margin: 0 auto;
    float: left;
}

.btn-primary {
    background-color: #1696d2;
    border-radius: 1px;
    border-color: #fff;
    line-height: 0.8em;
}

.btn .active {
    background-color: #1696d2;
}

#previousChapters {
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 20px;
    margin-top: 35px;
    z-index: 10000;
}

#logo {
    float: left;
    padding-left: 25px;
    margin-top: 16px;
    height: 100%;
}

#share {
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;
}

#shareMaster {
    border-left: 1px solid #ccc;
    width: 70px;
    height: 70px;
    padding-left: 20px;
    display: inline;
    float: right;
    display: inline-block;
    opacity: 1;
}

.circle {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    margin-top: 25px;
    margin-right: 5px;
    background-color: #fff;
    color: #0096d2;
    display: inline-block;
}

.circle:hover {
    background-color: #000;
}

#socials a {
    color: #0096d2;
}

#socials a:hover {
    color: #0096d2;
}

#socials {
    float: right;
    color: #fff;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

#share:hover #shareMaster {
    opacity: 0.5;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

#share:hover #socials {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}
/*set overflow height individually for each slide*/

#violentcrime,
#assault,
#robbery,
#homicide,
#neighborhoods,
#cluster8,
#cluster29,
#conclusion {
    overflow-y: auto;
}

.carousel-caption {
    z-index: 10;
    text-align: left;
}

.carousel .item {
    background-color: #fff;
}

.carousel .carousel-inner .bg {
    background-color: #fff;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel .carousel-inner .bgCover {
    background-image: url(../images/9Q1A7850.JPG);
    background-position: center center;
}

#closingImage {
    position: inherit;
    margin-top: 50px;
    min-width: 450px;
    min-height: 600px;
    width: 100%;
    height: 100%;
    background-image: url(images/9Q1A8137.JPG);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-control {
    width: 40px;
    background-color: #ccc;
}

.arrow-left {
    width: 30px;
    height: 30px;
    left: 50%;
    top: 50%;
    z-index: 5;
    display: inline;
    position: absolute;
    margin-top: -15px;
    margin-left: -15px;
}

.arrow-right {
    width: 30px;
    height: 30px;
    left: 50%;
    top: 50%;
    z-index: 5;
    display: inline;
    position: absolute;
    margin-top: -15px;
    margin-left: -15px;
}

.carousel-indicators {
    position: absolute;
    left: 0;
    width: 250px;
    height: 80px;
    padding: 0;
    top: 81px;
    display: inline;
    float: right;
    z-index: 1000;
    text-align: right;
    margin-left: 70%;
}

.carousel-indicators li {
    width: 14px;
    height: 14px;
    border-radius: 0px;
    border-color: #6d6d6d;
    background-color: #6d6d6d;
    margin-right: 5px;
}

.carousel-indicators .active {
    width: 14px;
    height: 14px;
    border-radius: 0px;
    border-color: #1696d2;
    background-color: #1696d2 !important;
    margin-right: 5px;
}

.carousel-caption {
    color: #555;
    text-shadow: none;
}

.title {
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    margin-top: 60px;
    padding: 15px;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0%;
    right: 60%;
    top: 0%;
    bottom: 0%;
}

.leftbox {
    margin-left: 70px;
    margin-right: 70px;
    text-align: left;
    margin-top: 10%;
}

.leftbox chapter {
    font-size: 1.2em;
}

.leftbox h1 {
    text-transform: uppercase;
    margin-top: 3px;
    margin-bottom: 1em;
}

.lead {
    font-size: 16px;
    font-weight: 400;
    margin-top: 1em;
}

#occ-section {
    font-weight: lighter;
}

.moreInfo {
    position: relative;
    left: 100%;
    bottom: 10px;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.content {
    margin-top: 40px;
}

.bg-image img {
    margin-top: 40px;
    width: 100%;
}

.credits {
    font-style: italic;
    font-size: 12px;
}

.graphtitle {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 20px;
}

#linechart,
#homchart{
    width: 100%;
    height: 100%;
    min-height: 500px;
}

#linechart img,
#homchart img{
    max-width: 100%;
    height: auto;
}


.hexmap {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}
#homicidemap {
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */
/* Custom, iPhone Retina */

@media only screen and (max-width: 768px) {
    .chart {
        min-width: 280px;
        max-height: 400px;
    }
    h3,
    p {
        max-width: 80%;
        margin-left: 10%;
    }
    h3 {
        margin-top: 50px;
    }
    #shareMaster,
    #socials {
        display: none;
    }
    .carousel-indicators {
        top: 60px;
    }
    .navbar-default {
        height: 90px;
    }
    #previousChapters {
        display: none;
    }
    .carousel .carousel-inner .bg {
        background-color: #fff;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: auto;
    }
    .active {
        height: auto;
    }
}

#imageHide {
    position: absolute;
    left: -100000;
    top: -100000;
    z-index: -10000000;
    display: none;
}

#titleLink {
    text-decoration: none;
    color: #fff;
}
/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
    .chart {
        min-width: 400px;
        max-width: 480px;
    }
}
/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    /* Remove the edge padding needed for mobile */
    
    .marketing {
        padding-right: 0;
        padding-left: 0;
    }
    /* Navbar positioning foo */
    
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 30px;
        padding-left: 30px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }
    /* The navbar becomes detached from the top, so we round the corners */
    
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }
    /* Bump up size of carousel content */
    
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 13px;
        line-height: 1.2;
        text-align: left;
    }
    .featurette-heading {
        font-size: 50px;
    }
    .chart {
        min-width: 470px;
    }
}
/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
    .chart {
        min-width: 617px;
    }
    /* Large Devices, Wide Screens */
    
    @media only screen and (min-width: 1200px) {
        .chart {
            min-width: 750px;
        }
    }